<div class="login__container">
  <div class="p-col-3">
    <div class="box">
      <form
        [formGroup]="loginForm"
        #f="ngForm"
        novalidate
        (ngSubmit)="onSubmit()"
      >
        <p-card>
          <div
            class="p-fluid"
            style="margin: 10px 0px;"
          >
            <div class="p-grid-row">
              <div class="p-grid-col-2">
                Usuario *:
              </div>
              <div class="p-grid-col-6">
                <input
                  pInputText
                  type="text"
                  formControlName="username"
                  placeholder="Requerido"
                  pTooltip="Ingrese su nombre de Usuario"
                />
              </div>
              <div class="p-grid-col-4">
                <p-message
                  severity="error"
                  text="Ingrese un nombre de Usuario"
                  *ngIf="
                    !loginForm.controls['username'].valid &&
                    loginForm.controls['username'].dirty
                  "
                ></p-message>
              </div>
            </div>
            <div class="p-grid-row p-mt-2">
              <div class="p-grid-col-2">
                Contraseña *:
              </div>
              <div class="p-grid-col-6">
                <input
                  pInputText
                  type="password"
                  formControlName="password"
                  placeholder="Requerida - Min(6)"
                  pTooltip="Ingrese su contraseña"
                />
              </div>
              <div class="p-grid-col-4">
                <p-message
                  severity="error"
                  [text]="
                    loginForm.controls['password'].errors['required']
                      ? 'Contraseña es requerida'
                      : loginForm.controls['password'].errors['minlength']
                      ? 'Deberia tener al menos 6 caracteres'
                      : ''
                  "
                  *ngIf="
                    !loginForm.controls['password'].valid &&
                    loginForm.controls['password'].dirty
                  "
                ></p-message>
              </div>
            </div>
            <div class="p-grid-row p-mt-2">
              <div class="p-grid-col-2"></div>
              <div class="p-grid-col-6">
                <button
                  pButton
                  type="submit"
                  label="Aceptar"
                  [disabled]="!loginForm.valid"
                ></button>
              </div>
              <div class="p-grid-col-4"></div>
            </div>
          </div>
          <p-footer>
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              label="Registrarse"
              class="p-button-info"
              style="margin-right: 0.25em;"
              pTooltip="Registrarse Como nuevo Usuario"
              (click)="navigateRegister()"
            ></button>
          </p-footer>
        </p-card>
      </form>
    </div>
  </div>
</div>
